<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <script src="/js/jquery-3.6.1.min.js"></script>
    <script src="/js/js.cookie.min.js"></script>
    <script type="text/javascript">
        function logout() {
            window.location.href = "/user/logout";
        }
        function goSearchPage(location) {
            if (typeof location === 'undefined')
                window.location.href = "/search";
            else
                window.location.href = "/map?location=" + location;
        }
    </script>

    <script>
        $(document).ready(() => {
            let username = Cookies.get('username');
            let historyRec = [];
            $("#username").val(username);
            console.log("Username (fr. cookie): " + username);

            $.post('image/getHistory',
                { username: username },
                function (histories) {
                    const arr_len = histories.length;
                    for (let i = 0; i < arr_len; i += 2) {
                        $("#table-main").append(`<tr>
                            <td><img src="/img/${histories[i]}"></td>
                            <td>${histories[i + 1]}</td>
                            <td><button onclick="goSearchPage('${histories[i + 1]}')">Use This Record to Locate</button></td>
                            </tr>`);
                        historyRec.push({url: histories[i], result: histories[i + 1]});
                    }
                    console.log(historyRec);
                });
        })
    </script>
    
    <style>
        th,td,table {
            border: 1px solid;
        }
    </style>
    
</head>
<body>
Hello, user <span id="username">xxx</span> !

<button id="seaerch" onclick="goSearchPage()">Search</button>

<button id="logout" onclick="logout()">logout</button>

<table style>
    <thead>
    <thead>
    <tr>
        <th>图片</th>
        <th>识别结果</th>
    </tr>
    </thead>
    </thead>
    <tbody id="table-main"></tbody>
</table>

</body>
</html>