<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>控制台 - Map Service</title>
    <script src="/js/jquery-3.6.1.min.js"></script>
    <script src="/js/js.cookie.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.0/dist/semantic.min.js"></script>
    
    <script type="text/javascript">
        function logout() {
            Cookies.remove('username');
            window.location.href = "/user/logout";
        }
        function goSearchPage(location) {
            if (typeof location === 'undefined')
                window.location.href = "/search";
            else
                window.location.href = "/map?location=" + location;
        }
        function delRec(imageHash) {
            $.ajax({
                url: "/image/requestDel",
                type: "POST",
                data: imageHash,
                dataType: "text",
                contentType: "text/plain",
                success: function (ocr_result) {
                    console.log(ocr_result);
                    if (ocr_result === "1")
                        location.reload();
                }
            });
        }
    </script>

    <script>
        $(document).ready(() => {
            let username = Cookies.get('username');
            let historyRec = [];
            $("#usernamePl").text(username);
            console.log("Username (fr. cookie): " + username);

            $.post('image/getHistory',
                { username: username },
                function (histories) {
                    const arr_len = histories.length;
                    for (let i = 0; i < arr_len; i += 2) {
                        $("#table-main").append(`<tr>
                            <td><img src="/img/${histories[i]}"></td>
                            <td>${histories[i + 1]}</td>
                            <td>
                                <button class="ui labeled icon button" onclick="goSearchPage('${histories[i + 1]}')">
                                    <i class="search icon"></i> 使用此结果搜索
                                </button>
                                <br>
                                <br>
                                <button class="ui labeled icon button red" onclick="delRec('${histories[i]}')">
                                    <i class="trash icon"></i> 删除这个结果
                                </button>
                            </td>
                            </tr>`);
                        historyRec.push({url: histories[i], result: histories[i + 1]});
                    }
                    console.log(historyRec);
                });
        })
    </script>
    
    <style>
        .dashboard {
            padding-top: 5em;
        }
    </style>
    
</head>
<body>
    <div class="ui container dashboard">
        <div>
            <h1 class="ui header">
                欢迎使用 OCR 图片地理位置识别导航，<span id="usernamePl">您的用户名</span>！
                <span style="float: right;"><button class="ui labeled icon red button" id="logout" onclick="logout()">
                    <i class="door open icon"></i>
                    登出
                </button></span>
            </h1>
        </div>

        <div class="ui stacked segment center aligned">
            <button class="ui labeled icon primary button" id="search" onclick="goSearchPage()">
                <i class="search icon"></i>
                按图搜索...
            </button>
        </div>

        <div class="ui stacked segment center aligned">
            <table class="ui celled table center aligned">
                <thead>
                <thead>
                <tr>
                    <th>图片</th>
                    <th>识别结果</th>
                    <th>操作</th>
                </tr>
                </thead>
                </thead>
                <tbody id="table-main"></tbody>
            </table>
        </div>
    </div>
</body>
</html>