<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript"></script>
    <script src="/js/jquery-3.6.1.min.js"></script>
    <script type="text/javascript">
    function f() {

      //let username = $("#username").value;
      let username = document.getElementById("username").value;
      let password = document.getElementById("password").value;
      $.post('/user/register', {
        username : username,
        password : password
      },function (data) {
        alert(data);
        switch (data) {



          case 0: alert("用户名已经存在！");
            break;
          case 1:  alert("注册成功，欢迎使用地图服务！")
            window.location.href = "/";
        }
      });

    }
    </script>
</head>
<body>
注册界面
</body>
<table>
  <label for="username">用户名</label>
  <input id="username" type="text">
  <label for="password">密码</label>
  <input id="password" type="text">
  <button id="register" onclick="f()">注册</button>
</table>
</html>