<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ImageMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.entity.Image">
    <id column="image" jdbcType="VARCHAR" property="image" />
    <result column="text" jdbcType="VARCHAR" property="text" />
    <result column="uploader" jdbcType="VARCHAR" property="uploader" />
  </resultMap>
  <sql id="Base_Column_List">
    image, `text`, uploader
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from image
    where image = #{image,jdbcType=VARCHAR}
  </select>
  <select id="selectTextByPrimaryKey" resultType="java.lang.String">
    select
      text
    from text where image = #{image}
  </select>
  <select id="selectImagesByUploader" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from image
    where uploader = #{uploader,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from image
    where image = #{image,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="image" keyProperty="image" parameterType="com.example.demo.entity.Image" useGeneratedKeys="true">
    insert into image (image, `text`, uploader)
    values (#{image,jdbcType=VARCHAR}, #{text,jdbcType=VARCHAR}, #{uploader,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="image" keyProperty="image" parameterType="com.example.demo.entity.Image" useGeneratedKeys="true">
    insert into image
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="text != null">
        `text`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="text != null">
        #{text,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.entity.Image">
    update image
    <set>
      <if test="text != null">
        `text` = #{text,jdbcType=VARCHAR},
      </if>
    </set>
    where image = #{image,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.Image">
    update image
    set `text` = #{text,jdbcType=VARCHAR}
    where image = #{image,jdbcType=VARCHAR}
  </update>
</mapper>